@model TitlesModel.MovieDetailsModel

<div class="dialog-container">
        <div id="movieDiv">
            <fieldset>
                <h3>@Model.TitleName (@Model.ReleaseYear)</h3>
                <!--Html.LabelFor(m => m.ReleaseYear)-->
                <br />
                @using (Html.BeginForm())
                {
                    <div class="fieldContainer">
                        <div class="displayLabel">
                            @Html.Label("Storyline Type:")
                        </div>
                        <div class="displayField">
                            @Html.DropDownList("storyDrop", new SelectList(Model.Storylines, "slid", "StoryType"), new { id = "storyDrop" })
                        </div>
                    </div>
                
                    <div class="displayLabel">
                        @Html.Label("Storyline:")
                    </div>
                    <div class="displayField">
                        @Html.DisplayText("storyline")
                    </div>
                }

            </fieldset>
        </div>
    </div>
    <br />

    <h3>Actors</h3>
    <table width="50%">
        <tr>
            <th>
                Name
            </th>
            <th>
                Role
            </th>
        </tr>
        @foreach (ActorModel am in Model.Actors)
        {
            <tr>            
                <td>
                    @am.Name
                </td>
                <td>
                    @am.RoleType
                </td>
            </tr>
            }                        
    </table>

</div>